* {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #000000;
}

/* Fonts */
@font-face {
	font-family:'AbrilW01-DisplayRegular';
	src: url('font/AbrilW01-DisplayRegular_gdi.eot');
	src: url('font/AbrilW01-DisplayRegular_gdi.eot?#iefix') format('embedded-opentype'),
		url('font/AbrilW01-DisplayRegular_gdi.woff') format('woff'),
		url('font/AbrilW01-DisplayRegular_gdi.ttf') format('truetype'),
		url('font/AbrilW01-DisplayRegular_gdi.svg#AbrilW01-DisplayRegular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;

}

@font-face {
	font-family:'OpenSans-Regular';
	src: url('font/OpenSans_gdi.eot');
	src: url('font/OpenSans_gdi.eot?#iefix') format('embedded-opentype'),
		url('font/OpenSans_gdi.woff') format('woff'),
		url('font/OpenSans_gdi.ttf') format('truetype'),
		url('font/OpenSans_gdi.svg#OpenSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'BrandonGrotesque-Bold';
	src: url('font/BrandonGrotesque-Bold_gdi.eot');
	src: url('font/BrandonGrotesque-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('font/BrandonGrotesque-Bold_gdi.woff') format('woff'),
		url('font/BrandonGrotesque-Bold_gdi.ttf') format('truetype'),
		url('font/BrandonGrotesque-Bold_gdi.svg#BrandonGrotesque-Bold') format('svg');
	font-weight: 450;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family:'BrandonGrotesque-BoldItalic';
	src: url('font/BrandonGrotesque-BoldItalic_gdi.eot');
	src: url('font/BrandonGrotesque-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'),
		url('font/BrandonGrotesque-BoldItalic_gdi.woff') format('woff'),
		url('font/BrandonGrotesque-BoldItalic_gdi.ttf') format('truetype'),
		url('font/BrandonGrotesque-BoldItalic_gdi.svg#BrandonGrotesque-BoldItalic') format('svg');
	font-weight: 450;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'BrandonGrotesque-Light';
	src: url('font/BrandonGrotesque-Light_gdi.eot');
	src: url('font/BrandonGrotesque-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('font/BrandonGrotesque-Light_gdi.woff') format('woff'),
		url('font/BrandonGrotesque-Light_gdi.ttf') format('truetype'),
		url('font/BrandonGrotesque-Light_gdi.svg#BrandonGrotesque-Light') format('svg');
	font-weight: 330;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}




/*Les titre*/

h1 {
	font-size: 64px;
	font-weight: 100;
	font-family: 'AbrilW01-DisplayRegular', serif;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-top: 150px;
}

h2 {
	margin-top: 70px;
	font-size: 32px;
	font-family: 'AbrilW01-DisplayRegular', serif;
	font-weight: 200;
}

h3{
	margin-left: 35px;
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 24px;
	font-family: 'BrandonGrotesque-Bold', sans-serif;
	font-weight: bold;
}

h4{
	margin-left: 55px;	
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 22px;
	font-family: 'BrandonGrotesque-Light', sans-serif;
	font-weight: 100;
}

.gauche{
width: 728px;
margin: 0 auto;
}

.footer{
	height: 100px;
}
